{
	"plugins": ["@trivago/prettier-plugin-sort-imports"],
	"singleQuote": true,
	"printWidth": 80,
	"useTabs": true,
	"tabWidth": 4,
	"trailingComma": "none",
	"importOrder": ["^@platform/auth(.*)$", "^@platform/ui(.*)$", "^[./]"]
}
